<a href="https://colab.research.google.com/github/LuisPalominoR/Prueba1/blob/main/Clase_2_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://imgur.com/6U6q5jQ"><img src="https://i.imgur.com/6U6q5jQ.png" title="source: imgur.com" /></a>

<a target="_blank" href="https://colab.research.google.com/github/PythonVersusR/basicDataStructures_lists/blob/main/R_Python_Lists.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>


# Lists in R and Python

In [45]:
## if needed, run this and RESTART KERNEL
# import os
# os.environ['R_HOME'] ='/Library/Frameworks/R.framework/Resources'

In [46]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

## 1. Creating

In [47]:
namesP=["Qing", "Françoise", "Raúl", "Bjork","Marie","Jim","Tere","Tina"]
agesP=[32,33,28,30,29,33,34,27]
countryP=["China", "Senegal", "España", "Norway","Korea RP","USA","Bolivia","Portugal"]
educationP=["Bach", "Bach", "Master", "PhD","PhD", "Master","Master","PhD"]

In [48]:
type(namesP)

list

In [49]:
namesP

['Qing', 'Françoise', 'Raúl', 'Bjork', 'Marie', 'Jim', 'Tere', 'Tina']

In [50]:
%%R
namesR=list("Qing", "Françoise", "Raúl", "Bjork","Marie","Jim","Tere","Tina")
agesR=list(32,33,28,30,29,33,34,27)
countryR=list("China", "Senegal", "España", "Norway","Korea","USA","Bolivia","Portugal")
educationR=list("Bach", "Bach", "Master", "PhD","PhD", "Master","Master","PhD")

In [51]:
%%R
typeof(namesR)

[1] "list"

In [52]:
%%R
namesR

[[1]]
[1] "Qing"

[[2]]
[1] "Françoise"

[[3]]
[1] "Raúl"

[[4]]
[1] "Bjork"

[[5]]
[1] "Marie"

[[6]]
[1] "Jim"

[[7]]
[1] "Tere"

[[8]]
[1] "Tina"

## 2. Accessing

In [53]:
# Keep in mind the positions in Python start in **0**.
agesP[0]

32

In [54]:
type(agesP[0])

int

In [55]:
%%R
agesR[[1]]

[1] 32

In [56]:
%%R
typeof(agesR[[1]])

[1] "double"

In [57]:
%%R
agesR[1]

[[1]]
[1] 32

In [58]:
%%R
typeof(agesR[1])

[1] "list"

In [59]:
#last element
countryP[-1]

'Portugal'

In [60]:
%%R
tail(countryR,1)

[[1]]
[1] "Portugal"

### Slices

In [61]:
# consecutive
agesP[1:4] #second to fourth

[33, 28, 30]

In [62]:
%%R
agesR[2:4]

[[1]]
[1] 33

[[2]]
[1] 28

[[3]]
[1] 30

In [63]:
# non consecutive with step or pattern
agesP[1:8:2] # second to eight step 2

[33, 30, 33, 27]

In [64]:
%%R
agesR[seq(2,8,2)]

[[1]]
[1] 33

[[2]]
[1] 30

[[3]]
[1] 33

[[4]]
[1] 27

In [65]:
# non consecutive without step or pattern
keepIndex=[0, 2, 3]
[agesP[i] for i in keepIndex]

[32, 28, 30]

In [66]:
%%R
agesR[c(1,3,4)]

[[1]]
[1] 32

[[2]]
[1] 28

[[3]]
[1] 30

## Replacing

### by Position

In [67]:
countryP[2]="Spain"

# list changed:
countryP

['China',
 'Senegal',
 'Spain',
 'Norway',
 'Korea RP',
 'USA',
 'Bolivia',
 'Portugal']

In [68]:
%%R
countryR[[3]]="Spain"

# list changed:
countryR

[[1]]
[1] "China"

[[2]]
[1] "Senegal"

[[3]]
[1] "Spain"

[[4]]
[1] "Norway"

[[5]]
[1] "Korea"

[[6]]
[1] "USA"

[[7]]
[1] "Bolivia"

[[8]]
[1] "Portugal"

### By Value

In [69]:

countryP[countryP=="China"]="PR China"
countryP

['PR China',
 'Senegal',
 'Spain',
 'Norway',
 'Korea RP',
 'USA',
 'Bolivia',
 'Portugal']

In [70]:
%%R
countryR[countryR=='China']="PR China"
countryR

[[1]]
[1] "PR China"

[[2]]
[1] "Senegal"

[[3]]
[1] "Spain"

[[4]]
[1] "Norway"

[[5]]
[1] "Korea"

[[6]]
[1] "USA"

[[7]]
[1] "Bolivia"

[[8]]
[1] "Portugal"

## Deleting

### By Position

In [71]:
del countryP[-1] #last value

# list changed:
countryP

['PR China', 'Senegal', 'Spain', 'Norway', 'Korea RP', 'USA', 'Bolivia']

In [72]:
%%R
countryR[length(countryR)]=NULL
countryR

[[1]]
[1] "PR China"

[[2]]
[1] "Senegal"

[[3]]
[1] "Spain"

[[4]]
[1] "Norway"

[[5]]
[1] "Korea"

[[6]]
[1] "USA"

[[7]]
[1] "Bolivia"

In [73]:
# 'del' works for several positions

listP=[1,2,3,4,5,6]
del listP[1:4]

#now:
listP

[1, 5, 6]

In [74]:
%%R

listR=list(1,2,3,4,5,6)
listR[2:4]=NULL

#now:
listR

[[1]]
[1] 1

[[2]]
[1] 5

[[3]]
[1] 6

In [75]:
# non consecutive
listP=[10,11,30,33,50,55]
byeIndex=[1, 3, 5]
listP=[listP[i] for i in range(len(listP)) if not i in byeIndex]
listP

[10, 30, 50]

In [76]:
%%R
listR=list(11,22,33,44,55,66)
listR[c(2,4,6)]=NULL
listR

[[1]]
[1] 11

[[2]]
[1] 33

[[3]]
[1] 55

### by Value

In [77]:
# by value
listP=[1,'a',45,'b','a']
listP.remove('a')

# list changed:
listP # just first ocurrence of value!!

[1, 45, 'b', 'a']

In [78]:
# deleting every  value:

listP=[1,'a',45,'b','a']
listP=[p for p in listP if not p in ['a']]

# you get:
listP

[1, 45, 'b']

In [79]:
%%R

listR=list(1,'a',45,'b','a')
listR=listR[!listR %in% list('a')]
listR

[[1]]
[1] 1

[[2]]
[1] 45

[[3]]
[1] "b"

## Inserting values

In [80]:
# at the end
listP=[1,'a',45,'b','a']
listP.append("cde")
listP

[1, 'a', 45, 'b', 'a', 'cde']

In [81]:
%%R
listR=list(1,'a',45,'b','a')
listR=append(listR,'cde')
listR

[[1]]
[1] 1

[[2]]
[1] "a"

[[3]]
[1] 45

[[4]]
[1] "b"

[[5]]
[1] "a"

[[6]]
[1] "cde"

In [82]:
# specific position
listP=[1,'a',45,'b','a']
listP.insert(2,"cde")
listP

[1, 'a', 'cde', 45, 'b', 'a']

In [83]:
%%R
listR=list(1,'a',45,'b','a')
listR=append(listR,'cde',after=2)
listR

[[1]]
[1] 1

[[2]]
[1] "a"

[[3]]
[1] "cde"

[[4]]
[1] 45

[[5]]
[1] "b"

[[6]]
[1] "a"

## Concatenating

In [84]:
listA_P=[1,2,3]
listB_P=['a', 'b', 'c']
listA_P + listB_P

[1, 2, 3, 'a', 'b', 'c']

In [85]:
listA2_P=[1,2,3]
listB2_P=['a', 'b', 'c']
listA2_P.extend(listB2_P)
listA2_P

[1, 2, 3, 'a', 'b', 'c']

In [86]:
%%R
listA_R=list(1,2,3)
listB_R=list('a', 'b', 'c')
append(listA_R, listB_R)

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[1] "a"

[[5]]
[1] "b"

[[6]]
[1] "c"

In [87]:
#notice
listA1_P=[1,2,3]
listB1_P=['a', 'b', 'c']
listA1_P.append(listB1_P)
listA1_P

[1, 2, 3, ['a', 'b', 'c']]

In [88]:
%%R
append(listA_R, list(listB_R))

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[[4]][[1]]
[1] "a"

[[4]][[2]]
[1] "b"

[[4]][[3]]
[1] "c"