<a href="https://colab.research.google.com/github/LuisPalominoR/Prueba1/blob/main/Clase_2_C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://i.imgur.com/6U6q5jQ.png"/>


<a target="_blank" href="https://colab.research.google.com/github/PythonVersusR/basicDataStructures_sets/blob/main/Python_R_Sets.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Sets in Python

In [2]:
## if needed, run this and RESTART KERNEL
#import os
#os.environ['R_HOME'] ='/Library/Frameworks/R.framework/Resources'

In [3]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

## 1. Creating

In [4]:
aSet={1,6,2,3,4,4,4,5}

# then
aSet

{1, 2, 3, 4, 5, 6}

Notice that **sets** do not allow duplicates, and show ordering of values.

## 2. Accessing

You can not use indexes in sets.

In [5]:
#aSet[1]

In [6]:
#you would need a list:
list(aSet)[1]

2

## 2. Replacing

You would need to rewrite or delete/add an element:

In [7]:
# rewriting
bSet={1,2,3,4}
bSet=set(x**2 for x in bSet)
bSet

{1, 4, 9, 16}

In [8]:
cSet={'a','b','cc'}
cSet.remove('cc')
cSet.add('c')
cSet

{'a', 'b', 'c'}

## 3. Deleting

In [9]:
#dSet={1,2,3,'a','b','c'}
#dSet.remove('d') #will not work

In [10]:
dSet={1,2,3,'a','b','c'}
dSet.discard('d')
dSet

{1, 2, 3, 'a', 'b', 'c'}

In [11]:
dSet={1,2,3,'a','b','c'}
toDelete = [2,40,'b']

# keep what is not in toDelete
dSet.difference_update(toDelete)
dSet

{1, 3, 'a', 'c'}

Notice the diference for deleting a set:

In [12]:
dSet.clear()
dSet #empty the set

set()

In [13]:
#del cSet
#cSet #get rid of set

## 5. Inserting

In [14]:
cSet={'a','b','cc'}
cSet.update(('dd',))
cSet

{'a', 'b', 'cc', 'dd'}

In [15]:
cSet={'a','b','cc'}
cSet.update(('dd','ee'))
cSet

{'a', 'b', 'cc', 'dd', 'ee'}

## Other operations

If we have these sets:

In [16]:
set1={'a','b','c','d'}
set2={1,2,3,4}
set3={'a',2,3,'d'}

We could use:

In [17]:
# union
set4=set1|set2
set4

{1, 2, 3, 4, 'a', 'b', 'c', 'd'}

In [18]:
#intersection
set5=set1&set3
set5

{'a', 'd'}

In [19]:
# difference:
# set of all the elements to the left that are not present in the right
set6=set2-set3
set6

{1, 4}

In [20]:
# symmetric difference
# set of elements that are either in the first set or the second set
# but not in both.

set7=set2^set3
set7

{1, 4, 'a', 'd'}

# Sets in R

R does not have a set data structure, but it has _set_ operations for vectors:

In [21]:
%%R

# some vectors

set1R=c('a','b','c','d')
set2R=c(1,2,3,4)
set3R=c('a',2,3,'d')

In [22]:
%%R

union(set1R,set2R)

[1] "a" "b" "c" "d" "1" "2" "3" "4"

In [23]:
%%R

intersect(set1R,set3R)

[1] "a" "d"

In [24]:
%%R

setdiff(set2R,set3R)

[1] 1 4

In [25]:
%%R

#simmetric difference
setdiff(union(set2R,set3R),intersect(set2R,set3R))

[1] "1" "4" "a" "d"

Notice set operations in R:

In [26]:
%%R

set1R=c('a','b','c','d','d') #not a set
set2R=c(1,2,3,4,4)#not a set
union(set1R,set2R) #result is a set

[1] "a" "b" "c" "d" "1" "2" "3" "4"